@{
    ViewData["Title"] = "Leaderboard - ";
}
@model Project_WebApps_R0901534_ASP.ViewModels.LaptimeListViewModel

<h1 class="text-center mt-5 mb-5 me-1">@Model.Circuit.Naam</h1>
<input type="hidden" value="@Model.Circuit.CircuitId" asp-for="CircuitId" />

<div class="table-responsive rounded mb-5">
    <table class="table bg-warning table-striped border border-light">
        <thead>
            <tr>
                <th class="text-sm-left text-light">POS</th>
                <th class="text-sm-left text-light">Klasse</th>
                <th class="text-sm-left text-light">Auto</th>
                <th class="text-sm-left text-light">Rondetijd</th>
                <th class="text-sm-left text-light">PI</th>
                <th class="text-sm-left text-light">Datum</th>
                <th class="text-sm-left text-light">Nickname</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Laptimes.Count; i++)
            {
                int pos = i + 1;
                var datum = Model.Laptimes[i].Datum.ToShortDateString();

                <tr class="mt-2">
                    <td>@Html.DisplayFor(modelItem => pos)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Laptimes[i].AutoKlasse.Klasse.Naam)</td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Laptimes[i].AutoKlasse.GebruikerAuto.Auto.Model.Merk.Naam)
                        @Html.DisplayFor(modelItem => Model.Laptimes[i].AutoKlasse.GebruikerAuto.Auto.Model.Naam)
                        </td>
                    <td>@Html.DisplayFor(modelItem => Model.Laptimes[i].Rondetijd)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Laptimes[i].AutoKlasse.GebruikerAuto.Auto.TotalePI)</td>
                    <td>@Html.DisplayFor(modelItem => datum)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Laptimes[i].AutoKlasse.GebruikerAuto.Gebruiker.Nickname)</td>
                </tr>
            }
        </tbody>
    </table>
</div>   

@if (this.User.Identity.IsAuthenticated)
{
    <h1 class="text-center mt-5 mb-5">Rondetijd toevoegen</h1>

    <div class="container-fluid bg-warning mb-5 pb-3 pt-3 border border-light rounded">
        <form method="post" enctype="multipart/form-data" asp-controller="Leaderboard" asp-action="LaptimeToevoegen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@this.User" asp-for="Gebruiker"/>
            <input type="hidden" value="@Model.Circuit.CircuitId" asp-for="CircuitId"/>
            <fieldset>
                <legend class="text-center mb-5">Rondetijd registreren</legend>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label class="control-label">Auto</label><br/>
                        <select class="p-2" asp-for="@Model.GebruikerAutoId" asp-items="Model.GebruikerAutos"></select>
                        <span asp-validation-for="GebruikerAutoId" class="text-danger"/>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label asp-for="Rondetijd" class="control-label">Rondetijd</label>
                        <input asp-for="Rondetijd" class="form-control" placeholder="Format {00.00.000}" />
                        <span asp-validation-for="Rondetijd" class="text-danger"></span>
                    </div>
                </div>             
            </fieldset>
            <button type="submit" class="btn-dark border border-light rounded py-1 px-2 mt-3">Voeg rondetijd toe</button>
        </form>
        <form method="post" enctype="multipart/form-data" asp-controller="Leaderboard" asp-action="LaptimeMetAutoToevoegen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@this.User" asp-for="Gebruiker" />
            <input type="hidden" value="@Model.Circuit.CircuitId" asp-for="CircuitId" />
            <fieldset class="mt-4">
                <legend class="text-center mb-5">Voeg auto + rondetijd toe</legend>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label asp-for="Merknaam" class="control-label">Merk</label>
                        <input asp-for="Merknaam" class="form-control" placeholder="Naam merk"/>
                        <span asp-validation-for="Merknaam" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label asp-for="Modelnaam" class="control-label">Model</label>
                        <input asp-for="Modelnaam" class="form-control" placeholder="Naam model" />
                        <span asp-validation-for="Modelnaam" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 col-sm-12">
                        <label asp-for="PI" class="control-label">PI</label>
                        <input asp-for="PI" class="form-control" placeholder="PI" />
                        <span asp-validation-for="PI" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label asp-for="Rondetijd" class="control-label">Rondetijd</label>
                        <input asp-for="Rondetijd" class="form-control" placeholder="Format {00.00.000}" />
                        <span asp-validation-for="Rondetijd" class="text-danger"></span>
                    </div>
                </div>              
            </fieldset>
                <button type="submit" class="btn-dark border border-light rounded py-1 px-2 mt-3">Voeg rondetijd toe</button>
        </form>
    </div>
}

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    